.descTableRow {
	font-size:16px;
}

.descTableRow td {
	width:100px;
	padding:10px;
	border: 1px solid black;
}

.descTableRow2 td {
	width:450px;
	padding:10px;
	border: 1px solid black;
}

.container {
	background-color:pink;
	height:100%;
	width:100%;
}

th {
	border: 1px solid black;
}

td { 
	border: 1px solid black;
}

.projectLinks a:hover {
	color:green;
}

.projectsTable {
  margin-left: auto;
  margin-right: auto;
  width:95%;
  height:700px;
}

.projectsTable2 {
	display:none;
}

@media screen and (max-width: 630px) {
	.projectsTable {
	display:none;
	}
}

@media screen and (max-width: 630px) {
	.projectsTable2 {
		display:block;
		margin-left: auto;
		margin-right: auto;
		width:95%;
	}
}
